.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.friendText {
    position: relative;
    color: #000;
    background-color: var(--secondary-color);
    padding: 8px 14px;
    border-radius: 10px 10px 10px 0;
}

.friendText:after {
    content: "";
    position: absolute;
    left: -14px;
    bottom: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent var(--secondary-color) var(--secondary-color) transparent;
}

.friendName {
    text-align: end;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.friendMessageText {
    font-size: 16px;
    font-weight: 400;
}

.friendTime {
    width: 48px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    margin-top: 5px;
}
